
.wgs{
  display: inline-block;
  height: 241px;
  width: 320px;
  position: relative;
  top: 15px;
  overflow: hidden;
  }

.wgs__mole-head {
  height: 140px;
  width: 188px;
  position:absolute;
  bottom: 65px;
  top: 67px;
  left: 55px;
  right: 77px;
  transition: margin-top 0.25s;
 }

.wgs__dirt-pile {
  height: 130px;
  width: 320px;
  position:absolute;
  bottom: 0;
  top: 151px;
}

.wgs__mole-head--hidden {
   margin-top: -243px;
  
}

.pf {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  }


.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

.sb__score-holder {
  flex: 1 0 0;
}

.sb__game-over--hidden {
  display: none;
}


.navbar {
  padding-top: 2px;
  /* background-image: url("grapevine.jpg"); */
  background-color: cornflowerblue;
}

html body {
  background-color: cornsilk;
  padding: 10px;
  min-height: 100vh;
}

 #motto {
  text-align: center;
  color: red;
  font-family: monospace;
  font-style: oblique;
  padding-top: 10px;
}

.proj-container{
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

#project-h1 {
  text-align: center;
  padding: 10px;
}

 footer {
  background-color: cornflowerblue;
  /* padding: -10px; */
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 100%;
}

#change {
  color: red;
}

#objective {
  padding: 10px;
}

#role:hover {
  font-size: large;
  color: cornflowerblue;
}

#objective:hover {
  background-color: blueviolet;
  font-size: larger;
  color: cornflowerblue;
}

#education-head {
  padding: 10px;
}

.skills {
 text-align: right;
padding-right: 10px;
border-top: 2px solid black;
}

.skills ul {
  list-style-type: none; 
  padding: 0; 
}

.image-container {
  position: relative;
  width: 150px; 
  height: 150px;
  overflow: hidden;
  border: 2px solid black;
}

.image-container img {
  position: absolute;
  animation: moveImage 4s linear infinite;
}

@keyframes moveImage {
  0% {
    transform: translateX(0); 
  }
  50% {
    transform: translateX(200px); 
  }
  100% {
    transform: translateX(0); 
  }
}